<% if user_signed_in? %>
 <div class="search_category_form">
   <%= form_with url: search_book_path, local: true, method: :get do |f| %>
    <%= f.text_field :keyword %>
    <%= f.submit "タグ検索", class:"btn btn-sm btn-secondary" %>
   <% end %>
 </div>
<% end %>